body{
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

.links{
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    gap:10px;
}

.header{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border: none;
}

.main1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    gap: 200px;
    padding: 50px;
}

.main1 p{
    margin-top: 0;
}

.main2{
    background-color: white;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main3{
    display: flex;
    background-color:#e5e7eb ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.quoteauthor{
    align-self: flex-end;
    color: #1f2937;
    font-weight: bold;
    font-size: 35px;
}

.signup-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: #e5e7eb;
    max-width: 500px;
}

.signup-intro h1{
    font-size: 48px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
  }
  
.info {
    max-width: 200px;
}

.text{
    font-size: 19px;
    font-weight: normal;
}

.box{
    background-color: #3882f6;
    border-radius: 4px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin:100px;
}


.m4text{
    display: flex;
    color: white;
    flex-direction: column;
    gap:0;
}


button{
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    max-width: 100px;
    padding: 10px;
    color: #f9faf8;
    font-weight: bold;
}

.box button{
    border: 2px solid white;
    max-width: 100px;
}



h3{
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
}

.action-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
.action-text{
    margin-top: 0;
}

.footer{
    background-color:#1f2937 ;
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}




a{
    color: #e5e7eb;
    text-decoration: none;
}


ul{
    list-style-type: none;
}

h1{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

h2{
    text-align: center;
}

li{
    font-size: 20px;
}